*{
  text-align: center;
}

html{
  background-color: #B3A194;
  font-size: 16px;
}

body{
  width: 640px;
  margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */
}

h1{
  font-size: 48px;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

p{
  font-size: 1.2rem;
}