.info{
    width :100%;
    height: 19.68rem;
    background-color: coral;
}

.info__text{
    max-width: 48rem;
    margin: auto;
    padding: 3rem 1rem 0;
}

.info__text h1{
    margin: 0;
    font-size: 2rem;
    line-height: 3,2rem;
}

.info__text p{
    margin: 0.5rem 0 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

@media screen and (max-width:768px){
    .info{
        height: 18.375;
    }
    .info__text{
        padding: 1.5rem 1rem 0 ;
    }
    .info__text h1{
        font-size: 1.5rem;
    }
    .info__text p{
        display: none;
    }
}